# needed services to run the authentication service locally for development
services:
  mysql:
    container_name: mysql
    hostname: mysql
    restart: unless-stopped
    image: mysql:9.6.0
    volumes:
      - ./var/lib/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
  rabbitmq:
    container_name: rabbitmq
    hostname: rabbitmq
    restart: unless-stopped
    image: rabbitmq:4.2.3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}