apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service

spec:
  replicas: 1 
  selector:
    matchLabels:
      app: auth-service
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 3
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: ghcr.io/lukasdrothler/auth-service:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: auth-configmap
            - secretRef:
                name: auth-secret
          volumeMounts:
            - name: auth-keys
              mountPath: /app/keys
              readOnly: true
      volumes:
        - name: auth-keys
          secret:
            secretName: auth-secret
            items:
              - key: private_key.pem
                path: private_key.pem
              - key: public_key.pem
                path: public_key.pem
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  selector:
    app: auth-service
  type: NodePort
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30800