apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: auth-mysql
  labels:
    app: auth-mysql

spec:
  serviceName: mysql-service
  replicas: 1
  selector:
    matchLabels:
      app: auth-mysql
  template:
    metadata:
      labels:
        app: auth-mysql
    spec:
      containers:
        - name: auth-mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: auth-configmap
                  key: DB_NAME
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: DB_PASSWORD
            - name: MYSQL_ROOT_HOST
              value: "%"
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
  volumeClaimTemplates:
    - metadata:
        name: mysql-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  labels:
    app: auth-mysql
spec:
  clusterIP: None
  selector:
    app: auth-mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
