apiVersion: v1
kind: Service
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  selector:
    app: auth-service
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000