name: Docker Image CI for GHCR

on:
  push

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Build and push Docker image to GitHub Container Registry
        uses: actions/checkout@v3
        run: |
          docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
          docker build -t ghcr.io/${{ github.repository_owner }}/auth-service:latest .
          docker push ghcr.io/${{ github.repository_owner }}/auth-service:latest

      # - name: Log in to GitHub Container Registry
      #   uses: docker/login-action@v2
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v4
      #   with:
      #     context: .
      #     push: true
      #     tags: ghcr.io/${{ github.repository_owner }}/auth-service:latest