name: Docker Image CI for GHCR

on:
  push

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Build and push Docker image to GitHub Container Registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker build -t ghcr.io/${{ github.repository_owner }}/auth-service:latest -t ghcr.io/${{ github.repository_owner }}/auth-service:${{ github.sha }} .
          docker push ghcr.io/${{ github.repository_owner }}/auth-service:latest
          docker push ghcr.io/${{ github.repository_owner }}/auth-service:${{ github.sha }}